html, body {
    height: 100%;
    width: 100%;
}

.mainbg {
    background: url('/img/homepage_moon.jpg') center center no-repeat;
    width: 100%;
    background-size: cover;
    color: rgb(106, 167, 218);
}

.clearskybg {
    background: url('/img/clearsky.jpg') center center no-repeat;
    background-size: cover;
    color: white;
}

.sunnybg {
    background: url('/img/brightday.jpg') center center no-repeat;
    background-size: cover;
    color: white;
}

.cloudybg {
    background: url('/img/cloudyday.jpg') center center no-repeat;
    background-size: cover;
    color: black;
}

.mistybg {
    background: url('/img/mistyday.jpg') center center no-repeat;
    background-size: cover;
    color: black;
}

.rainybg {
    background: url('/img/raindrops.jpg') center center no-repeat;
    background-size: cover;
    color: white;
}

#pageHeading p {
    text-align: center;
    font-family: 'Audiowide', cursive, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, serif;
    font-size: 2em;
    padding-top: 5%;
}

#inputForm form {
    padding-top: 5%;
    text-align: center;
}

#inputForm .form-inline {
    display: block;
}

#inputForm .btn {
    background-color: rgba(161, 186, 226, 0.25);
    margin-left: 5px;
}

#backToHome .form-inline {
    display: block;
}

#generalInfo p {
    color: white;
    text-align: center;
    padding-top: 8%;
    font-family: 'Oleo Script', cursive;
    font-size: 1.8em;
} 

#weatherDataSection p {
    font-family: 'Gugi', 'Contrail One', cursive;
    font-size: 1.5em;
}